<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hire">
	<!-- 공지사항 목록 -->
	<select id="hireList" resultType="kr.go.msit.dto.HireDTO">
		select * from hire order by regdate desc
	</select>
	<!-- 글 상세보기 -->
	<select id="hireDetail" resultType="kr.go.msit.dto.HireDTO">
		select * from hire where seq=#{seq}
	</select>
	<!-- 글 수 카운트 -->
	<select id="totalCount" resultType="integer" >
		select count(*) from hire
	</select>

	<insert id="hireInsert">
		insert into hire values ((select ifnull(max(seq), 0)+1 from hire a), #{title}, #{content}, 'admin', now(), 0)
	</insert>
	<delete id="hireDelete">
		delete from hire where seq=#{seq}
	</delete>
	<update id="hireEdit">
		update hire set title=#{title}, content=#{content} where seq=#{seq}
	</update>
	<update id="countUp">
		update hire set visited=visited+1 where seq=#{seq}
	</update>

</mapper>